.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.not-authenticated {
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  &-card {
    width: 400px;
    margin: auto;
    background-color: #1dd05d !important;
    &-btn {
      display: flex;
      flex-direction: row-reverse;
      padding: 0 !important;
      background-color: white;
    }
  }
}

.play-btn {
  position: absolute !important;
  bottom: 50px;
  right: 50px;
}