.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.not-authenticated {
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  &-card {
    width: 400px;
    margin: auto;
    background-color: #1dd05d !important;
    &-btn {
      display: flex;
      flex-direction: row-reverse;
      padding: 0 !important;
      background-color: white;
    }
  }
}

.play-btn {
  position: fixed !important;
  bottom: 50px;
  right: 50px;
}

.player-wrapper {
  position: relative;
  padding-top: 35% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.player-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-play-btn {
  position: absolute !important;
  left: 0;
  right: 0;
  margin: auto !important;
  top: 40%;
}

.use-playlist {
  &-div {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 20px;
  }
  &-chip {
    margin: 0 8px;
    cursor: pointer;
  }
}